input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.debug,
.debug * {
  border: 2px solid black;
}

:root {
  --scoreWidthToggleWithHelp: 1.5fr;
  --scoreWidthToggleWithPriority: 2fr;
}
html:has(.help-score) {
  --scoreWidthToggleWithHelp: 4fr;
}
html:has(.help-priority) {
  --scoreWidthToggleWithPriority: 4fr;
}

.help-block p {
  line-break: loose;
}
